table{
    width: 1000px;
}
.header{

    height: 20px;
}
tr{
    
}
.menu{
    width: 30%;
    height: 300px;
}

h2{
    text-transform: uppercase;
    color: rebeccapurple;
    letter-spacing: 2px;
}
